OLD_projects/All/flows/all.json
[{"id":"81773a88.16b2d8","type":"tab","label":"Init","disabled":false,"info":""},{"id":"6994cfa7.fc222","type":"tab","label":"Detect","disabled":false,"info":""},{"id":"bcc1fa1e.978098","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e4034419.dd8758","type":"function","z":"81773a88.16b2d8","name":"Project","func":"msg.payload={\n    projectName: env.get(\"PROJECT\"),\n    nodeRed: true,\n    vistaServer: 'localhost:5000',\n    plugins:[\n        {name:'Camera'},\n        {name:'Mask'},\n        {name:'Noise'},\n        // {name:'Model'},\n        {name:'FillGap'},\n        {name:'BBox'},\n        {name:'GripPos'},\n        {name:'Calc'}\n        ],\n    autostartplugins:[],\n    programs:['detect'],\n    commands:[\n        {\"name\": \"Start Detection\", \"program\": \"detect\"},\n        {\"name\": \"Calibrate Camera\", \"program\": \"calibrate\"},\n        {\"name\": \"Calibrate Scale\", \"program\": \"setScale\"}\n        ]\n}\nmsg.filename = './projects/' + env.get(\"PROJECT\") + '/config/Project.conf'\nreturn msg","outputs":1,"noerr":0,"x":280,"y":55,"wires":[["27c75a42.bd6246"]]},{"id":"f5cb68f0.c38008","type":"file","z":"81773a88.16b2d8","name":"Save Cfg","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":614,"y":55,"wires":[[]]},{"id":"f2fea5c6.7a0538","type":"inject","z":"81773a88.16b2d8","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":114,"y":55,"wires":[["3b7f105e.ceb3e"]]},{"id":"27c75a42.bd6246","type":"json","z":"81773a88.16b2d8","name":"","property":"payload","action":"str","pretty":true,"x":450,"y":55,"wires":[["f5cb68f0.c38008"]]},{"id":"3d9eafd2.10d6d","type":"watch","z":"81773a88.16b2d8","name":"","files":"./projects","recursive":true,"x":120,"y":100,"wires":[["b2eaf482.264a38"]]},{"id":"d18aef97.d4a35","type":"file in","z":"81773a88.16b2d8","name":"Read","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":330,"y":160,"wires":[["c8a8d849.b13388"]]},{"id":"c8a8d849.b13388","type":"json","z":"81773a88.16b2d8","name":"","property":"payload","action":"","pretty":false,"x":470,"y":160,"wires":[["14f1861c.92893a","12a5b93d.02cc17"]]},{"id":"14f1861c.92893a","type":"change","z":"81773a88.16b2d8","name":"cfg","rules":[{"t":"move","p":"payload","pt":"msg","to":"cfg","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":160,"wires":[[]]},{"id":"44d2cd31.d327c4","type":"inject","z":"6994cfa7.fc222","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["9945bdb6.7542f"]]},{"id":"468d302e.1618d","type":"http request","z":"6994cfa7.fc222","name":"Start","method":"POST","ret":"obj","paytoqs":true,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":462,"y":169,"wires":[["75c33cef.c3be54","7579f37c.ad388c"]]},{"id":"75c33cef.c3be54","type":"debug","z":"6994cfa7.fc222","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":639,"y":169,"wires":[]},{"id":"a77bff28.c458a","type":"function","z":"6994cfa7.fc222","name":"Mask","func":"var cfg = global.get(\"cfg\")\nmsg.url = cfg.visionServer + '/' + node.name + '/start'\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":169,"wires":[["468d302e.1618d"]]},{"id":"6cc1137d.86b27c","type":"http request","z":"6994cfa7.fc222","name":"Start","method":"POST","ret":"obj","paytoqs":true,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":462,"y":214,"wires":[["a7a9dcd8.7f00b","f6c361a0.0d79f"]]},{"id":"a7a9dcd8.7f00b","type":"debug","z":"6994cfa7.fc222","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":639,"y":214,"wires":[]},{"id":"7579f37c.ad388c","type":"function","z":"6994cfa7.fc222","name":"Noise","func":"var cfg = global.get(\"cfg\")\nmsg.url = cfg.visionServer + '/' + node.name + '/start'\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":214,"wires":[["6cc1137d.86b27c"]]},{"id":"a54e00ef.973e7","type":"http request","z":"6994cfa7.fc222","name":"Start","method":"POST","ret":"obj","paytoqs":true,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":462,"y":258,"wires":[["838f6ca7.ee5e9","219995ef.16160a"]]},{"id":"838f6ca7.ee5e9","type":"debug","z":"6994cfa7.fc222","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":639,"y":258,"wires":[]},{"id":"f6c361a0.0d79f","type":"function","z":"6994cfa7.fc222","name":"FillGap","func":"var cfg = global.get(\"cfg\")\nmsg.url = cfg.visionServer + '/' + node.name + '/start'\nreturn msg;","outputs":1,"noerr":0,"x":312,"y":258,"wires":[["a54e00ef.973e7"]]},{"id":"ed89d531.9e3b78","type":"http request","z":"6994cfa7.fc222","name":"Start","method":"POST","ret":"obj","paytoqs":true,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":462,"y":301,"wires":[["3b0bfc41.477e94","1e53d823.ecb3f8"]]},{"id":"3b0bfc41.477e94","type":"debug","z":"6994cfa7.fc222","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":639,"y":301,"wires":[]},{"id":"219995ef.16160a","type":"function","z":"6994cfa7.fc222","name":"BBox","func":"var cfg = global.get(\"cfg\")\nmsg.url = cfg.visionServer + '/' + node.name + '/start'\nmsg.payload.frameIn = 'Noise'\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":301,"wires":[["ed89d531.9e3b78"]]},{"id":"80503f36.04677","type":"http request","z":"6994cfa7.fc222","name":"Start","method":"POST","ret":"obj","paytoqs":true,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":462,"y":346,"wires":[["afb8527b.ce359","b07d63af.ee3b8"]]},{"id":"afb8527b.ce359","type":"debug","z":"6994cfa7.fc222","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":639,"y":346,"wires":[]},{"id":"1e53d823.ecb3f8","type":"function","z":"6994cfa7.fc222","name":"Classify","func":"var cfg = global.get(\"cfg\")\nmsg.url = cfg.visionServer + '/' + node.name + '/start'\nreturn msg;","outputs":1,"noerr":0,"x":312,"y":346,"wires":[["80503f36.04677"]]},{"id":"ab6c7635.63dcb8","type":"http request","z":"6994cfa7.fc222","name":"Start","method":"POST","ret":"obj","paytoqs":true,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":462,"y":437,"wires":[["5a54b5df.7c2e3c","2add7d01.080782"]]},{"id":"5a54b5df.7c2e3c","type":"debug","z":"6994cfa7.fc222","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":639,"y":437,"wires":[]},{"id":"cf0c507c.9ac9e","type":"function","z":"6994cfa7.fc222","name":"GripPos","func":"var cfg = global.get(\"cfg\")\nmsg.url = cfg.visionServer + '/' + node.name + '/start'\nreturn msg;","outputs":1,"noerr":0,"x":312,"y":437,"wires":[["ab6c7635.63dcb8"]]},{"id":"99358019.4128c","type":"http in","z":"6994cfa7.fc222","name":"","url":"/sendCMD","method":"get","upload":false,"swaggerDoc":"","x":120,"y":61,"wires":[["3e137108.405ace","9945bdb6.7542f"]]},{"id":"249998e6.1c2dd8","type":"http response","z":"6994cfa7.fc222","name":"","statusCode":"","headers":{},"x":470,"y":60,"wires":[]},{"id":"3e137108.405ace","type":"function","z":"6994cfa7.fc222","name":"Confirm","func":"msg.payload = {\n    status:'OK',\n    statusCode: 200,\n    command: msg.req.query.CMD\n}\nreturn msg;","outputs":1,"noerr":0,"x":313,"y":61,"wires":[["249998e6.1c2dd8"]]},{"id":"8cc3425.84d4dc","type":"debug","z":"6994cfa7.fc222","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":638,"y":125,"wires":[]},{"id":"4a8eecf9.58d674","type":"http request","z":"6994cfa7.fc222","name":"Start","method":"POST","ret":"obj","paytoqs":true,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":461,"y":125,"wires":[["8cc3425.84d4dc","a77bff28.c458a"]]},{"id":"9945bdb6.7542f","type":"function","z":"6994cfa7.fc222","name":"Camera","func":"var cfg = global.get(\"cfg\")\nmsg.url = cfg.visionServer + '/' + node.name + '/start'\nmsg.payload = {\n    sequence:\"detect\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":311,"y":125,"wires":[["4a8eecf9.58d674"]]},{"id":"959ada8d.0e2928","type":"http request","z":"6994cfa7.fc222","name":"Start","method":"POST","ret":"obj","paytoqs":true,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":463,"y":481,"wires":[["3f5e8067.c463a"]]},{"id":"3f5e8067.c463a","type":"debug","z":"6994cfa7.fc222","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":481,"wires":[]},{"id":"2add7d01.080782","type":"function","z":"6994cfa7.fc222","name":"Pixel2mm","func":"var cfg = global.get(\"cfg\")\nmsg.url = cfg.visionServer + '/' + node.name + '/start'\nreturn msg;","outputs":1,"noerr":0,"x":313,"y":481,"wires":[["959ada8d.0e2928","a690f7b2.101908"]]},{"id":"5496e082.d5977","type":"comment","z":"6994cfa7.fc222","name":"BrakeClipType1","info":"","x":120,"y":260,"wires":[]},{"id":"a690f7b2.101908","type":"debug","z":"6994cfa7.fc222","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":547,"wires":[]},{"id":"b2eaf482.264a38","type":"switch","z":"81773a88.16b2d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"PROJECT","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":100,"wires":[["3b7f105e.ceb3e"]]},{"id":"3b7f105e.ceb3e","type":"function","z":"81773a88.16b2d8","name":"Filename","func":"msg.filename = './projects/' + env.get(\"PROJECT\") + '/config/Project.conf'\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":100,"wires":[["d18aef97.d4a35"]]},{"id":"12a5b93d.02cc17","type":"debug","z":"81773a88.16b2d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":260,"wires":[]},{"id":"b07d63af.ee3b8","type":"function","z":"6994cfa7.fc222","name":"MaskEnds","func":"var cfg = global.get(\"cfg\")\nmsg.url = cfg.visionServer + '/' + node.name + '/start'\nreturn msg;","outputs":1,"noerr":0,"x":322,"y":392,"wires":[["375138d7.21f968"]]},{"id":"375138d7.21f968","type":"http request","z":"6994cfa7.fc222","name":"Start","method":"POST","ret":"obj","paytoqs":true,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":462,"y":392,"wires":[["ab897e59.9f43f","cf0c507c.9ac9e"]]},{"id":"ab897e59.9f43f","type":"debug","z":"6994cfa7.fc222","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":639,"y":392,"wires":[]}]